body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 120%;
}

table {
    width: 100%;
  }

  .accion{
    height: 30px;
    padding-right: 5px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

