
a{
    color: whitesmoke;
    text-decoration: none;
}

.row{
    border-bottom:2px solid rgb(199, 199, 224);
}

section{
    background-color: #412963;
}


.bi{
    color: white;
    font-size: 1rem;
    padding: 15px
}


.div-copyright{
    background-color: #34214F;
}

