<!-- Footer -->
<div>
  
</div><footer class="text-center text-lg-start bg-light text-muted nsd">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-1">

    <div class="container text-center text-md-center mt-1">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <a href="#!" class="text-uppercase fw-bold mb-4">QUIENES SOMOS</a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <a href="#!" class="text-uppercase fw-bold mb-4">TÉRMINOS Y CONDICIONES</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <a href="#!" class="text-uppercase fw-bold mb-4">PUNTOS DE VENTA</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <a href="#!" class="text-uppercase fw-bold mb-4">CONTÁCTENOS</a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  <section class="d-flex justify-content-center justify-content-sm-between p-4">
    <div class="container text-center text-md-center mt-1" >
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-envelope-fill"></i>
    </div>

  </section>


  <!-- Copyright -->
  <div class="div-copyright text-center p-4">
    © 2022 Copyright TicketShow
  </div>
</footer>
<!-- Footer -->
